---
import '../styles/global.css'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<div>
				<img src="" alt="">
				<div>
					<h1>hola</h1>
					<p>hola</p>
					<div>
						<div><span>i</span><p>hola</p></div>
						<div><span>i</span><p>hola</p></div>
					</div>
				</div>
				<span>---</span>
				<div>
					<img src="" alt="">
					<h2>hola <mark>mundo</mark></h2>
				</div>
			</div>
		</main>
	</body>
</html>
